body {
    background-image: url("portada_ev.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0; 
  }

  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }

  .header h1 {
    text-align: center;
    color: #00853c;
    margin-bottom: 20px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }

  .button-container a {
    text-decoration: none;
  }

  .button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 12px 20px;
    font-size: 18px;
    background-color: #ba9355;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
  }

  .button-container button:hover {
    background-color: #00853c;
  }