body {
    font-family: Arial;
    text-align: center;
    background-image: url('https://www.gob.mx/cms/uploads/document/main_image/83576/BIENESTAR_gob_mx.jpg');

    
    margin: 20;
    padding: 20;
}



.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #00853c;
}
h2 {
    color: #00853c;
}


p {
    color: #333;
}

button {
    background-color: #af2323;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.container button:hover {
    background-color: #b39230;
}


.image {
    position: absolute;
    bottom: 0px;
    right: 10px;
    max-width: 1000px;
}


.container button {
    display: block;
    margin: 10px auto;
    padding: 12px 20px;
    font-size: 18px;
    background-color: #00853c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
}

.container button:hover {
    background-color: #b39230;
}


.logout-btn {
    display: block;
    float: right;
    margin-top: 40px;
    margin-right: 5px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .logout-btn:hover {
    background-color: #d32f2f;
  }


  body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.image-container {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#f44336;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#b39230;
}

.paginacion ul li .active {
	background:#f44336;
	font-weight:bold;
}