
.blue-box {
    background-color: #063971;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.blue-box h2 {
    margin: 0;
    padding: 1px;
}



.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse; 
}

td, th {
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: center;
    vertical-align: middle;
}

form label {
    display: inline-block;
    width: 150px;
}

form input[type="text"],
form input[type="date"],
form input[type="time"] {
    width: 250px;
    position: absolute;
}

.left-column {
    padding-right: 300px;
    max-height: 200px;
    overflow-y: auto;
}

.right-column {
    padding-right: 300px;
    max-height: 200px;
    overflow-x: auto;
}

.left-column2,
.right-column2,
.left-column3,
.right-column3 {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.right-column2,
.right-column3 {
    margin-left: 10px;
}


.right-column2 {
    padding-right: 200px;
    max-height: 100px;
}



input[type="checkbox"] {
    margin-right: 5px;
}
