.blue-box {
    background-color: #063971;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    width: 60%; 

}


.blue-box h2 {
    margin: 0;
    padding: 1px;
}

table {
    table-layout: fixed;
    width: 100%;
    text-align: center; 
    vertical-align: middle; 

}

th,
td {
    white-space: normal;
    text-align: center;
    vertical-align: middle; 
}

form label {
    display: inline-block;
    width: 150px;
}

form input[type="text"],
form input[type="date"],
form input[type="time"] {
    width: 250px;
    position: absolute;
}

.container {
    display: flex;
}

.left-column {
    padding-right: 300px;
    max-height: 200px;
    overflow-y: auto;
}

.right-column {
    padding-right: 300px;
    max-height: 200px; 
    overflow-x: auto; 
}

input[type="checkbox"] {
    margin-right: 5px; 
}

.left-column2 {
    padding-right: 200px;
    max-height: 100px;
}

.right-column2 {
    padding-right: 100px;
    max-height: 100px; 
}

.left-column3 {
    padding-right: 200px;
    max-height: 100px;
}

.right-column3 {
    padding-right: 100px;
    max-height: 100px; 
}
