/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #2ecc71;
    color: white;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.rating label:hover {
    background-color: #ffd700;
    color: white;
}

.rating input[type="radio"]:checked + label {
    background-color: #ffd700;
    color: white;
}

.observaciones-cell {
    width: 50%; /* Ajusta el ancho de la celda de observaciones */
}

.observaciones-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#00853c;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#b39230;
}

.paginacion ul li .active {
	background:#00853c;
	font-weight:bold;
}